<br /><br /><br /><br /><br />
                        <div class="container-fluid myfooter" style="height:120px;">
                            <hr />
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4"  >
                                        Welcome to Cafe Store
                                    </div>
                                </div>
                            </div>
</div>